In [ ]:
fazal=[]

In [84]:
import pypyodbc

server='KASHIF-PC'
database='attendance'



cnxn = pypyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database)
cursor = cnxn.cursor()



cursor.execute("SELECT * FROM emp_designation;") 
row = cursor.fetchone() 
while row: 
    print(row)
    
    row = cursor.fetchone()

(1, 'Data Input Operator')
(2, 'Software Developer')
(6, 'Senior Research Associate')

In [30]:
print(fazal)

[(1, 'MUHAMMAD KASHIF', '067', '067', 'Standard', '1'), (2, 'admin', 'admin', 'ka.1234', 'Admin', '1')]

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [74]:
list2 = ['a', "b" , "c"];
list1 = [1, 2, 3]

list3 = list2 + list1
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [83]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3,]
list3=[11,22]

list2.extend(list1)
list2.extend(list3)

print(list2)

[1, 2, 3, 'a', 'b', 'c', 11, 22]